@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .button-style{
    @apply cursor-pointer flex space-x-2 bg-indigo-500 text-white px-4 py-2 rounded shadow  items-center hover:bg-indigo-600 transition-all duration-300 ease-in-out;
  }
  .button-style2{
    @apply flex bg-primary text-white rounded-full px-5 py-2 items-center text-center hover:bg-secondary transition-all duration-200 focus:border-primary;
  }
}

:root {
  --primary-color: #057D3A;
  --secondary-color: #1FC157;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #FAFAFA; */
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  a:focus,
  button:focus,
  input:focus {
    outline: none;
  }
  .hoverme{
    display: "block";
  }
  #hover:hover> .hoverme{
    display: block;
  }
  #homeBg {
    background-image: url("../images/homepage/animalBg4.jpg");
  }
  /* for the animation in the buttons */
  .button-animation {
    position: relative;
    background-color: var(--primary-color);
    display: inline-block;
    border-radius: 9999px;
    color: white;
    cursor: pointer;
    overflow: hidden;
    width: auto;
  }
  .button-animation > .animation-text {
    z-index: 2;
    position: relative;
    display: inline-block;
    border-radius: 9999px;
  }
  .button-animation > .animation-bg {
    background-color: var(--secondary-color);
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 0.3s ease;
    height: 0;
  }
  .button-animation:hover > .animation-bg {
    height: 100%;
  }
 
  